body {
    background: rgb(10, 10, 10);
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: rgb(19, 19, 19);
    padding-bottom: 20px;
    margin: 0;
}

header.home nav {
    background: rgb(10, 10, 10);
    margin: 0;
    padding: 20px;
}

.center-text {
    text-align: center;
    font-size: 40px;
}

section {
    padding: 100px;
    display: flex;
    flex-direction: row;
}

section.top {
    background: rgb(226, 226, 226);
}

section.bottom {
    background: rgb(19, 19, 19);
}

.images div {
    margin: auto;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

section.images.top div {
    background: rgb(19, 19, 19);
    color: white;
}

section.images.bottom div {
    background: rgb(226, 226, 226);
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 15px;
}

footer {
    background: rgb(10, 10, 10);
    padding: 100px;
    display: flex;
    flex-direction: column;
}

footer div {
    background: rgb(10, 10, 10);
    color: rgb(241, 241, 241);
    margin: 10px;
    text-align: center;
    font-size: 15px;
}
