body {
    background: rgb(22, 22, 22);
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    padding: 20px;
}

section {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div {
    background: rgb(48, 48, 48);
    color: white;
    margin: auto;
    width: 150px;
    height: 150px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 15px;
}

footer {
    background: black;
    padding: 10px 20px;
}